@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
  overscroll-behavior: none;
}

hr {
  border: none;
  height: 1em;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  font-family: mono;
}

hr::after {
  content: ".  .  .";
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  line-height: 1;
}
