---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Why the Shelf?">
    <div class="flex items-center justify-center mx-auto h-full">
		<h1 class="">about placeholder</h1>
	</div>
</BaseLayout>