---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<div class="flex items-center justify-center mx-auto h-full">
		<h1 class=""> hello, world</h1>
	</div>
</BaseLayout>