---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="The Shelf In Question">
    <div class="flex items-center justify-center mx-auto h-full">
		<h1 class="">shelf placeholder</h1>
	</div>
</BaseLayout>