---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Shelf Data!">
    <div class="flex items-center justify-center font-bold mb-4 tracking-tight text-gray-900 dark:text-gray-100">
		<h2 class="pt-15">Under construction...</h2>
	</div>
</BaseLayout>